.grid {
  position: relative;
  margin: 50px auto;
  width: 90vw;
  height: 90vh;
  border: 2px solid #000;
  border-width: 8px;
  border-image: repeating-radial-gradient(
			circle at 10px,
			rgb(155, 152, 13),
			rgb(126, 118, 17) 2px,
			rgb(146, 129, 33) 4px,
			black 2px
		)
		1;
    background-color: #33cc00;
    background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
    overflow: hidden;
}
@keyframes random {
  15% { background-color: red; } 
  30% { background-color: yellow; } 
  45% { background-color: green; } 
  60% { background-color: blue; }
  75% { background-color: white; }  }

.snake-dot {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: darkgreen;
  /*-webkit-animation: random 15s infinite;
  animation: random 15s infinite;*/
  border: 1px solid black;
  z-index: 2;
}

.head {
  background-image: url("snake-head.png");
  background-repeat: no-repeat;
  width: 5%;
  height: 5%;
  background-size: 100% 100%;  
}

.snake-food {
  position: absolute;
  width: 5%;
  height: 5%;
  background: purple;
  border: 1px solid black;
  z-index: 1;
}

.textScore {
  z-index: 3;
  margin-left: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}