.grid {
  position: relative;
  margin: 50px auto;
  width: 90vw;
  height: 90vh;
  border: 2px solid #000;
  border-width: 8px;
  border-image: repeating-radial-gradient(
			circle at 10px,
			rgb(155, 152, 13),
			rgb(126, 118, 17) 2px,
			rgb(146, 129, 33) 4px,
			black 2px
		)
		1;
    background-color: #33cc00;
    background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
    overflow: hidden;
}
@keyframes super {
  15% { background-color: red; } 
  30% { background-color: yellow; } 
  45% { background-color: green; } 
  60% { background-color: blue; }
  75% { background-color: white; }
  100% { background-color:orange; }  }

.snake-dot {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: darkgreen;
  border: 1px solid black;
  z-index: 2;
}

#interesting-food.snake-food.mystery-food {
  background-image: url("question-mark.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;  ;
}

#interesting-food.snake-food.super-food {
  -webkit-animation: super 3s infinite;
  animation: super 3s infinite;
}

.super {
  -webkit-animation: super 3s infinite;
  animation: super 3s infinite;
}

#interesting-food.snake-food {
  background: white;
}

.head {
  background-image: url("snake-head.png");
  background-repeat: no-repeat;
  width: 5%;
  height: 5%;
  background-size: 100% 100%;  
}

.snake-food {
  position: absolute;
  width: 5%;
  height: 5%;
  background: purple;
  border: 1px solid black;
  z-index: 1;
}

.textScore {
  z-index: 3;
  margin-left: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#scoreUpdates {
  height: 200px;
  width: 300px;
  margin: auto;
}

span {
  font-size: 50px;
  color: red;
}

